* {
  border: none;
  font-family: "JetbrainsMono Nerd Font";
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 14px;
  color: #161320;
}

#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
}

window#waybar {
  background: transparent;
}

window#waybar.hidden {
  opacity: 0.2;
}

tooltip {
  background-color: #161320;
  border-radius: 10px;
}

tooltip * {
  color: white;
}

#network,
#pulseaudio,
#battery,
#clock,
#memory,
#cpu,
#tray,
#custom-keyboard-layout-work,
#custom-keyboard-layout-home,
#custom-launcher,
#custom-power {
  padding: 5px 14px;
  border-radius: 10px;
  margin: 0 5px;
}

#network {
  background: #bd93f9;
}

#pulseaudio {
  background: #e8a2af;
}

#battery {
  background: #b5e8e0;
}

#battery.charging,
#battery.plugged {
  background-color: #b5e8e0;
}

#battery.critical:not(.charging) {
  background-color: #b5e8e0;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes blink {
  to {
    background-color: #bf616a;
    color: #b5e8e0;
  }
}

#clock {
  background: #abe9b3;
}

#memory {
  background: #ddb6f2;
}

#cpu {
  background: #96cdfb;
}

#tray {
  background: #161320;
}

#tray * {
  color: white;
}

#tray * :hover {
  background-color: #fabd2f;
  color: #161320;
}

#tray * :hover * {
  color: #161320;
}

#custom-keyboard-layout-work {
  background: #effab0;
}

#custom-keyboard-layout-home {
  background: #effab0;
}

#custom-launcher {
  font-size: 20px;
  color: #89dceb;
  background: #161320;
  padding-right: 18px;
}

#custom-power {
  font-size: 16px;
  background: #f28fad;
  padding-right: 18px;
}
